@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@
@using Microsoft.AspNetCore.Identity;
@using ЛР_1.DAL.Entities;
@inject SignInManager<ApplicationUser> signInManager


@if (signInManager.IsSignedIn(User))
{
    //@await Component.InvokeAsync("Cart")
    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <!-- Avatar -->
        <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle d-flex align-items-center"
               href="#"
               id="navbarDropdownMenuLink"
               role="button"
               data-mdb-toggle="dropdown"
               aria-expanded="false">
                <i class="far fa-address-card"></i>
            </a>
            <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                @*<li><a class="dropdown-item" href="#"><img src="@Url.Action("GetAvatar","Image")" width="30%" class="img-fluid rounded" /></a></li>*@
                <li><a class="dropdown-item" href="#"><img img-action="GetAvatar" img-controller="Image" width="30%" class="img-fluid rounded" /></a></li>
                <li><a class="dropdown-item" href="#"> @User.Identity.Name</a></li>
                <hr>
                <li><a class="dropdown-item" asp-controller="Cart" asp-action="Index">Мои товары</a></li>
                <li>

                    <form asp-area="Identity"
                          asp-page="/Account/Logout"
                          asp-route-returnurl="@ViewContext.HttpContext.Request.Path">

                        <input type="submit"
                               value="Log out"
                               class="dropdown-item" />

                    </form>

                </li>
            </ul>
        </li>
    </ul>
   
}
else
{
    <ul class="nav navbar-nav ml-auto">
        <li>
            <a class="nav-item nav-link"
               asp-area="Identity"
               asp-page="/Account/Login">
                Войти
            </a>
        </li>
        <li>
            <a class="nav-item nav-link"
               asp-area="Identity"
               asp-page="/Account/Register">
                Зарегистрироваться
            </a>
        </li>
    </ul>
}



