
@{
    ViewData["Title"] = "Index";
    //Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container-fluid">
    <h1>@ViewData["Text"]</h1>
    <h1>Список</h1>
    <ol type="A">
        @for (int i = 1; i < 5; i++)
        {
            <li>элемент @i списка</li>
        }
    </ol>
    <br />
    <br />
    <ol type="A">
        <li>Элемент списка 1</li>
        <li>Элемент списка 2</li>
    </ol>
    <hr />
    <h1>Форма</h1>
    <div class="container-fluid">
        <form method="post">
            <select name="sl" asp-items="@ViewData["Lst"] as SelectList"></select>
            <div class="row">
                <div class="col-md-2 offset-md-2"><input type="checkbox" name="ch1" /> Чек-бокс 1</div>
            </div>
            <div class="row">
                <div class="col-md-2 offset-md-2"><input type="checkbox" name="ch2" /> Чек-бокс 2</div>
            </div>
            <br />
            <div class="row">
                <div class="col-sm-1 offset-md-2"><input type="radio" name="r" id="idr1" value="option1" /> Радио 1 </div>
                <div class="col-sm-1 "><input type="radio" name="r" id="idr2" value="option2" /> Радио 2</div>
                <div class="col-sm-1 "><input type="radio" name="r" id="idr3" value="option3" /> Радио 3</div>
                <div class="row">
                    <label class="col-md-1">Логин:</label>
                    <div class="col-md-7 ">
                        <input type="text" id="typeText" class="form-control" placeholder="Введите имя" name="log" />
                    </div>
                </div>
                <br>
                <br>
                <div class="row">
                    <label class="col-md-1">Пароль:</label>
                    <div class="col-md-7 ">
                        <input type="text" id="typeText" class="form-control" placeholder="Введите пароль" name="pass" />
                    </div>
                </div>
                <br />
                <br />
                <div class="container-fluid">
                    <button type="submit" class="btn btn-primary">Отправить</button>
                </div>
            </div>
        </form>
        </div>
    </div>
